# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# results
/Electric field heterostructure/Angleplot
/Electric field heterostructure/Texture
/Selfenergy/Bfieldthermalconductivity
/Selfenergy/interpolatedlifetime
/Selfenergy/interpolatedlifetimeplot
/Selfenergy/selfenergy
/Selfenergy/SelfenergyBconst
/Selfenergy/selfenergyplot
/Selfenergy/Thermalconductivity
/Selfenergy/vertex
/stripey/stripey honeycomb/eigenvector
/stripey/stripey square/eigenvector

